# Database Configuration
DATABASE_URL=postgresql://inventory_db_reic_user:6hdxcQY7kJ1W8pBgzs4LQzsNVpgHzlpJ@dpg-d41l9ure5dus73de8oa0-a.singapore-postgres.render.com/inventory_db_reic

# Application Settings
SECRET_KEY=1234
DEBUG=False

# Flask Settings
FLASK_APP=wsgi.py
FLASK_ENV=production
